*.swp
typings/

# Node
node_modules
npm-debug.log

jspm_packages
lib
build

# TypeScript
*.map
*.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# ng2-file-tree
ng2-file-tree.js
ng2-file-tree.d.ts
ng2-file-tree.js.map

/src/*.js
/src/*.js.map
/src/*.d.ts

src/**/*.js
src/**/*.js.map
src/**/*.d.ts

/bundles

factories

/**/*.metadata.json
/*.metadata.json

demo
